<!DOCTYPE html>
<html style='width: 100%'>

<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<title>Project Title</title>
	<!--<meta property="og:url"           content="http://www.your-domain.com/your-page.html" /> -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Budeshi 2.0" />
	<meta property="og:description" content="Using Open Contracting Data Standards(OCDS) to disclosure  public institution's procurement information in Nigeria"
	/>
	<meta property="og:image" content="file:///C:/Users/ver%20Tingir/Projects/budeshi-2.0/webroot/images/budeshi.png" />
	<link rel="stylesheet" href="<?php echo $this->absPath?>css/uikit.min.css" />
	<link rel="stylesheet" href="<?php echo $this->absPath?>css/styles.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="<?php echo $this->absPath?>js/jquery.js"></script>
	<script src="<?php echo $this->absPath?>js/uikit.min.js"></script>
	<script src="<?php echo $this->absPath?>js/uikit-icons.min.js"></script>
	<script src="<?php echo $this->absPath?>js/index.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>

<body>
	<nav class="uk-navbar-container uk-navbar-transparent top" uk-sticky uk-navbar>
		<div class="uk-navbar-left uk-padding-small">
			<a href="#" class="uk-link-reset">
				<img src='<?php echo $this->absPath?>images/budeshi.png' width="15%"> Budeshi 2.0
			</a>
		</div>
	</nav>

	<div class='uk-container'>

		<div class='project-overview' id='project-overview'>
			<div>
				<div class='uk-flex-center uk-flex uk-margin-top'>
					<h3 class='uk-text-warning'><?php echo $db->projectTitle?></h3> <a href="" class="uk-icon-button uk-margin-left"
					 uk-icon="icon: social" title="Share" uk-tooltip="pos: bottom" uk-toggle="target: #offcanvas-nav"></a>
				</div>
				<div class=''>
					<div id="offcanvas-nav" uk-offcanvas="overlay: true">
						<div class="uk-offcanvas-bar uk-flex uk-flex-column">
							<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
								<li class="uk-nav-header">Tell people what you've seen here</li>
								<li class="uk-nav-divider"></li>
								<li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: instagram"></span>Instagram</a></li>
								<li><a href="https://twitter.com/share" data-hashtags="budeshi" data-related="ppmonitorNG" data-show-count="false"><span class="uk-margin-small-right" uk-icon="icon: twitter"></span>Twitter</a>
									<script
									 async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
								</li>
								<li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: facebook"></span>Facebook</a></li>
								<li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: linkedin"></span>Linkedin</a></li>
								<li class="uk-nav-divider"></li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
			</div>
			<div id='ubecproject'>
				<ul class="uk-flex uk-flex-center" uk-tab>
					<?php echo $nav_tab?>
				</ul>

				<ul class="uk-switcher uk-margin">
					<?php echo $output?>
				</ul>
			</div>
		</div>
	</div>
	<nav class="uk-navbar-container uk-navbar-transparent uk-margin" sytle='background-color: transparent' uk-navbar>
		<ul class="uk-navbar-nav">
			<li>
				<a class="uk-navbar-item" href="#ppdc"><img src='<?php echo $this->absPath?>images/omidyar-logo.jpg'/></a>
			</li>
			<li>
				<a class="uk-navbar-item" href="#ppdc"><img src='<?php echo $this->absPath?>images/smc.png' width='20%' /></a>
			</li>
			<li>
				<a class="uk-navbar-item" href="#ppdc"><img src='<?php echo $this->absPath?>images/ppdc.jpg' width='150%'/></a>
			</li>
			<li>
				<a class="uk-navbar-item" href="#ppdc"><img src='<?php echo $this->absPath?>images/ptcij.png' width='100%' /></a>
			</li>
			<li>
				<a class="uk-navbar-item" href="#ppdc"><img src='<?php echo $this->absPath?>images/macarthur-logo.jpg' width='50%' /></a>
			</li>
		</ul>
	</nav>
	</div>
	<script src='../js/map.js'>

	</script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">

	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhIkwKhcGrtLh3Ld2MC7PZmNwIma3R5pE&callback=initMap">

	</script>

</body>

</html>