.border{
  border: 1px solid red;
}
.back {
/*  background-image: url(../images/budeshi.png);
  background-repeat: no-repeat;
  background-position: center;
  */
}
.filter-button {
  display: block;
}
#ubecproject {
  display: block;
}
#project-overview {
  display: block;
}
#center-log {
  display: block;
  margin-left: 10%;
}
body.login-page {
  background-color: #CBBEA8;
}
td {
  cursor: pointer;
}
.border-right {
  border-right: 1px solid #ccc;
}
nav.top {
  background-color: #43F2BE;
}
#map {
height: 300px;
}
.height {

}
html, body, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}
.pg1 {
  background-color: #C0C2D1;
  width: 100%;
  height: 100%;
}
.what {
  background-image: url('../images/landing/what.jpg');

/* Full height */
height: 100%;

/* Create the parallax scrolling effect*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.why{
    background-image: url('../images/landing/why.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.how {

      background-image: url('../images/landing/how.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.how2 {

      background-image: url('../images/landing/how2.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.who {

        background-color: #FFD899;

      /* Full height */
      height: 100%;

      /* Create the parallax scrolling effect*/
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.trans-back {
  background-color: transparent;
}
.border {
  border: 1px solid white
}
.full-page {
    width: 100%;
    height: 100%;
}
