.border{
  border: 1px solid red;
}
.back {
/*  background-image: url(../images/budeshi.png);
  background-repeat: no-repeat;
  background-position: center;
  */
}
.filter-button {
  display: block;
}
#ubecproject {
  display: block;
}
#project-overview {
  display: block;
}
<<<<<<< HEAD
#center-log {
  display: block;
  margin-left: 10%;
}
body.login-page {
  background-color: #CBBEA8;
=======
td {
  cursor: pointer;
>>>>>>> c71687648d12a0591b3ad29206d1133a1899dafe
}
